<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<link href="https://fonts.googleapis.com/css2?family=Hanalei&family=Luckiest+Guy&family=Press+Start+2P&display=swap" rel="stylesheet">
		<title>Eat-Da-Burger!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
	</head>
	<body>
		{{{ body }}}
	
	<script type="text/javascript" src="/assets/js/script.js"></script>
	
	</body>


</html>


